<div class="homebag">

  <div class="home">
    <a routerLink="../shop"><button>Explore Now</button></a>
  </div>

  <div class="offerheading"><i>We provide..</i></div>
  <div class="offer">
    <div class="offers offer1"></div>
    <div class="offers offer2"></div>
    <div class="offers offer3"></div>
  </div>

  <div class="shoppingheading"> <i> Refresh Your Style this Year</i></div>
  <div class="shoping">
    <a routerLink="../shop">
      <div class="shoppings man"></div>
    </a>
    <a routerLink="../shop">
      <div class="shoppings woman"></div>
    </a>
    <a routerLink="../shop">
      <div class="shoppings kids"></div>
    </a>
  </div>
</div>